# Python files
__pycache__/
*.pyc
venv/
.env

# Media & Binaries
static/downloads/*
!static/downloads/.gitkeep
ffmpeg
ffmpeg.exe
ffprobe
ffprobe.exe
ffplay.exe

# SECRETS (Do not push these!)
youtubecookies.txt